.btn {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 90px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  padding: 1px 5px;
  color: #022524;
}

.btn:active {
  background: #83b2f3;
  color: #000;
}
