.btn {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 90px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  padding: 1px 5px;
  color: #0611a8;
  border-radius: 3px;
}

.btn:active {
  background: #f6fa04;
  color: #000;
}
